/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header styles */
  header {
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 0;
  }
  
  header h1 {
    font-size: 24px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #000000;
    text-decoration: none;
  }
  
  /* Hero section styles */
  .hero {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;  
    color: #fff;
    padding: 100px 0;
    text-align: center;
  }
  
  
  .hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    /* background-color: #333; */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  /* Featured products section styles */
  .featured-products {
    background-color: #f4f4f4;
    padding: 40px 0;
    text-align: center;
  }
  
  .featured-products h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .product-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .product-item {
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .product-item img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .product-item h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .product-item p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  footer p {
    font-size: 14px;
  }
  